backports-abc
backports.functools-lru-cache
backports.shutil-get-terminal-size
bleach
certifi
configparser
cycler
dateparser
decorator
docutils
entrypoints
enum34
funcsigs
functools32
h5py
hspfbintoolbox
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
llvmlite
lockfile
mando
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
networkx
notebook
numba
numexpr
pandas
pandocfilters
pathlib2
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qgrid
qtconsole
rst2ansi
ruamel.ordereddict
ruamel.yaml
scandir
scipy
simplegeneric
singledispatch
six
subprocess32
tables
tabulate
terminado
testpath
tornado
traitlets
tstoolbox
tzlocal
wcwidth
webencodings
widgetsnbextension
numpy
regex
# wdmtoolbox # install after other packages complete
